@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html {
  background-color: #dde6ed;
  font-size: 16px;
}

.heading {
  color: #e76161;
  font-family: "Press Start 2P", cursive;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  padding: 2%;
  text-shadow: 5px 0 #232931;
  animation: moveInBottom 2s ease-out;
}

.dice-sec {
  margin-top: 8%;
  display: flex;
  justify-content: space-around;
}

.dice p {
  text-align: center;
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
  color: #FF0060;
  margin-top: 6%;
  font-style: italic;
}

img {
  padding: 5% 2%;
  width: 200px;
}

.crown1{
    height: 2%;
    text-align: center;
}

.crown2{
    height: 2%;
    text-align: center;
}


.crown{
    color: #C07F00;
}

.result h1{
    text-align: center;
    font-family: 'Play', sans-serif;
    color: #454545;
    animation: textFadeInOut 2s ease-in-out;
    animation-iteration-count: infinite;
}

.btn-refresh{
    margin-top: 5%;
    text-align: center;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(2rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes textFadeInOut {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

@media (max-width: 768px) {
  html {
    font-size: 10px;
  }
  img {
    width: 150px;
  }
}
@media (max-width: 480px) {
  html {
    font-size: 8px;
  }
  img {
    width: 100px;
  }
}
